{{extend 'layout.html'}}
<br>
<div style="margin-left:5%;margin-right:5%;">
    <h1>about</h1><hr>
    <br>
    <p class="lead">freelance delivery</p>
    <p class="lead">have you ever wanted some taco bell at 1am? some toothpaste in no time flat?</p>
    <p class="lead">deliveryfor is your one stop shop for anything local, delivered directly to you. simply make an accout and order today.</p>
	<p class="lead">and the best thing is, anyone can become a driver.</p>
    <p class="lead">to become a delivery driver, make an account, <a href="">download the app</a>, and free up some time. the orders will start coming in soon!</p> 
    <p class="lead">we even employ drones! the latest in robo technology, and it's all open source! <a href="http://www.github.com/troverman/deliveryfor">check it out</a>. :D</p>
    <p class="lead">deliveryfor is a nonprofit organization, owned by no one, and completely <a href="">transparent</a>.</p>
	<p class="lead">join the <a href="http://www.voetr.com/committee/deliveryfor">voetr committee</a>, and even you can have a say on how things are done.</p>

    <br><br>
    <h3>friends</h3><hr>
    <p class="lead"><a href="http://www.bankingfor.com">bankingfor</a></p>
    <p class="lead"><a href="http://www.conex.us">conex.us</a></p>
	<p class="lead"><a href="http://www.epoint.me">epoint.me</a></p>
    <p class="lead"><a href="http://www.evolvedus.com">evolved us</a></p>
    <p class="lead"><a href="http://givingfor.com">givingfor</a></p>
    <p class="lead"><a href="http://hospitalityfor.com">hospitalityfor</a></p>
    <p class="lead"><a href="http://inlrn.com">inlrn</a></p>
    <p class="lead"><a href="http://insuringfor.com">insuringfor</a></p>
    <p class="lead"><a href="http://investingfor.com">investingfor</a></p>
    <p class="lead"><a href="http://lealr.com">lealr</a></p>
    <p class="lead"><a href="http://troverman.com">troverman</a></p>
    <p class="lead"><a href="http://voetr.com">voetr</a></p>
</div>
