{{extend 'layout.html'}}
<style type="text/css">
    #another-div{margin-left:3%;margin-right:3%;}
    #another-div-container{border-top:3px solid rgb(210,210,210);}
    #discover-div{margin-left:3%;margin-right:3%;}
    #discover-div-container{border-top:3px solid rgb(210,210,210);border-bottom:3px solid rgb(210,210,210);}
    #index-header{
    background-color:rgb(247,247,247);
    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:25px;
    padding-bottom:30px;
    }
    #index-header-container{
        margin-left:5%;
        margin-right:5%;
    }
    #share-footer{
    background-color:rgb(247,247,247);
    border-top:1px solid rgb(225, 225, 225);
    }
    #share-footer-container{margin-left:5%;margin-right:5%;}
    #project-list-container{text-align:center;width:100%;}
    #project-list-item{border:2px solid rgb(180,180,180);display:inline-block;padding:10px;margin:7px;}
    #project-list-item:hover{border:2px solid rgb(110,110,110);display:inline-block;padding:11px;margin:7px;}

</style>
<div id="index-header">
    <div id="index-header-container">
        <h1 style="text-align:center;">about</h1>
    </div>
</div>
<br>
<div style="margin-left:5%;margin-right:5%;">
    <p style="text-align:center;" class="lead">freelance delivery</p>
    <p class="lead">have you ever wanted some taco bell at 1am? some toothpaste in no time flat?</p>
    <p class="lead">deliveryfor is your one stop shop for anything local, delivered directly to you. simply make an accout and order today.</p>
	<p class="lead">and the best thing is, anyone can become a driver.</p>
    <p class="lead">to become a delivery driver, make an account, <a href="">download the app</a>, and free up some time. the orders will start coming in soon!</p> 
    <p class="lead">we even employ drones! the latest in robo technology, and it's all open source! <a href="http://www.github.com/troverman/deliveryfor">check it out</a>. :D</p>
    <p class="lead">deliveryfor is a nonprofit organization, owned by no one, and completely <a href="">transparent</a>.</p>
	<p class="lead">join the <a href="http://www.voetr.com/committee/deliveryfor">voetr committee</a>, and even you can have a say on how things are done.</p>

    <br><br>
    <h3>friends</h3><hr>

    <div id="project-list-container">
        <div id="project-list-item">
            <p class="lead"><a href="http://www.bankingfor.com">bankingfor</a></p>
            <a href=""><img style="width:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/></a>
        </div>
        <div id="project-list-item">
            <p class="lead"><a href="http://www.conex.us">conex.us</a></p>
            <a href=""><img style="width:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/></a>
        </div>
        <div id="project-list-item">
            <p class="lead"><a href="http://www.epoint.me">epoint.me</a></p>
            <a href=""><img style="width:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/></a>
        </div>
        <div id="project-list-item">
            <p class="lead"><a href="http://www.evolvedus.com">evolved us</a></p>
            <a href=""><img style="width:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/></a>
        </div>
        <div id="project-list-item">
            <p class="lead"><a href="http://www.givingfor.com">givingfor</a></p>
            <a href=""><img style="width:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/></a>
        </div>
        <div id="project-list-item">
            <p class="lead"><a href="http://www.hospitalityfor.com">hospitalityfor</a></p>
            <a href=""><img style="width:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/></a>
        </div>
        <div id="project-list-item">
            <p class="lead"><a href="http://www.inlrn.com">inlrn</a></p>
            <a href=""><img style="width:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/></a>
        </div>
        <div id="project-list-item">
            <p class="lead"><a href="http://www.insuringfor.com">insuringfor</a></p>
            <a href=""><img style="width:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/></a>
        </div>
        <div id="project-list-item">
            <p class="lead"><a href="http://www.investingfor.com">investingfor</a></p>
            <a href=""><img style="width:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/></a>
        </div>
        <div id="project-list-item">
            <p class="lead"><a href="http://www.lealr.com">lealr</a></p>
            <a href=""><img style="width:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/></a>
        </div>
        <div id="project-list-item">
            <p class="lead"><a href="http://www.troverman.com">troverman</a></p>
            <a href=""><img style="width:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/></a>
        </div>
        <div id="project-list-item">
            <p class="lead"><a href="http://www.voetr.com">voetr</a></p>
            <a href=""><img style="width:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/></a>
        </div>
        <br><br>
    </div>

</div>
