{{extend 'layout.html'}}
<style>
	#contentwrapper{width: 100%;}               
	#content { //margin: 0 280px 0 180px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/}
	#left { 
	        float: left;
	        width: 175px;
	    	border-right:1px solid rgb(238,238,238);
			border-bottom:1px solid rgb(238,238,238);
	        padding-left:15px;
			padding-bottom:15px; 
	}
    #another-div{margin-left:3%;margin-right:3%;}
    #another-div-container{border-top:3px solid rgb(210,210,210);}
    #discover-div{margin-left:3%;margin-right:3%;}
    #discover-div-container{border-top:3px solid rgb(210,210,210);border-bottom:3px solid rgb(210,210,210);}
    #index-header{
    background-color:rgb(247,247,247);
    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:25px;
    padding-bottom:30px;
    }
    #index-header-container{
        margin-left:5%;
        margin-right:5%;
    }
    #share-footer{
    background-color:rgb(247,247,247);
    border-top:1px solid rgb(225, 225, 225);
    }
    #share-footer-container{margin-left:5%;margin-right:5%;}
</style>
<div id="index-header">
    <div id="index-header-container">
        <h1 style="text-align:center;">blog</h1>
    </div>
</div>
<br>
<div id="collapsed-left" style="display:none;">
    <a id="open-left">
        <div style="">
        	<h5 title="expand" style="margin:0px;padding:3px;"> >> </h5>
        </div>
    </a>
</div>

<div id="left">
    <a id="collapse-left"> <h5 style="margin:0px;padding:3px;" title="minimize"> << </h5> </a>
    post tags<br>
	{{for x in range(25):}}
    	<p><a>tag {{=x}}</a></p>
    {{pass}}
	<br>
</div>

<br>
<div id="contentwrapper">
    <div id="content" style="border-right:1px solid rgb(238,238,238);padding:5px;">
		<div>
			{{for x in range(5):}}
			<div id="">
				this is a blog post<br>
				this is a blog post<br>
				this is a blog post<br>
				this is a blog post<br>
				this is a blog post<br>
				this is a blog post<br>
				this is a blog post<br>
			</div>
			<br><br>
			{{pass}}
		</div>
	</div>
</div>
