{{extend 'layout.html'}}
<style type="text/css">
    #another-div{margin-left:3%;margin-right:3%;}
    #another-div-container{border-top:3px solid rgb(210,210,210);}
    #discover-div{margin-left:3%;margin-right:3%;}
    #discover-div-container{border-top:3px solid rgb(210,210,210);border-bottom:3px solid rgb(210,210,210);}
    #index-header{
    background-color:rgb(247,247,247);
    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:25px;
    padding-bottom:30px;
    }
    #index-header-container{
        margin-left:5%;
        margin-right:5%;
    }
    #share-footer{
    background-color:rgb(247,247,247);
    border-top:1px solid rgb(225, 225, 225);
    }
    #share-footer-container{margin-left:5%;margin-right:5%;}
</style>
<div id="index-header">
    <div id="index-header-container">
        <h1 style="text-align:center">business</h1>
    </div>
</div>
<br>
<div style="margin-left:5%;margin-right:5%;">
    Lots of features, no fees, for a good cause, awesome<br>
    PICTURE
    <p class="lead">add a coupon, edit locations, edit items, add tags, promote location, view stats / analytics</p>
</div>
