{{extend 'layout.html'}}
<style type="text/css">
    #another-div{margin-left:3%;margin-right:3%;}
    #another-div-container{border-top:3px solid rgb(210,210,210);}
    #discover-div{margin-left:3%;margin-right:3%;}
    #discover-div-container{border-top:3px solid rgb(210,210,210);border-bottom:3px solid rgb(210,210,210);}
    #index-header{
    background-color:rgb(247,247,247);
    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:25px;
    padding-bottom:30px;
    }
    #index-header-container{
        margin-left:5%;
        margin-right:5%;
    }
    #share-footer{
    background-color:rgb(247,247,247);
    border-top:1px solid rgb(225, 225, 225);
    }
    #share-footer-container{margin-left:5%;margin-right:5%;}
</style>
<div id="index-header">
    <div id="index-header-container">
        <h1 style="text-align:center;">contact</h1>
    </div>
</div>
<div style="margin-left:5%;margin-right:5%;">
	<br>
    <div style="margin-left:15px;">
        <p style="text-align:center;" class="lead">want to tell us something? press? hello.</p><hr><br>
        <p style="text-align:center;" class="lead">
            <a href="http://www.conex.us/project/deliveryfor/">conex.us</a>,
            <a href="http://www.facebook.com/deliveryfor">facebook</a>, 
            <a href="http://www.givingfor.com/project/deliveryfor/">givingfor</a>,
            <a href="http://www.google.com/deliveryfor">google</a>, 
            <a href="http://www.twitter.com/deliveryfor">twitter</a>, 
            <a href="http://www.voetr.com/committee/deliveryfor/">voetr</a>
        </p>
            <br><br><hr><br>
            <p style="text-align:center;" class="lead"><a>support</a></p>
    </div>
</div>
<br><br>
