{{extend 'layout.html'}}

<style type= "text/css"> 

a{cursor:pointer;}


a:hover{

	text-decoration: none;
	cursor:pointer;
}

ol.questions{      
	margin-left:35px;             
}

hr{      
	margin:0px;             
}
#index-header{
    background-color:rgb(247,247,247);
    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:25px;
    padding-bottom:30px;
}
#index-header-container{
    margin-left:5%;
    margin-right:5%;
}

</style>
<div id="index-header">
    <div id="index-header-container">
        <h1 style="text-align:center;">frequently asked questions</h1>
    </div>
</div>
<div class="centered-width">
	<br>
	<br>
	<h2 style="text-align:center;">general</h2>
	<hr>

	<ol class="questions"><br>
        <li><div id="whatisdeliveryfor"><a>What is deliveryfor?</a></div></li>
        <div id="whatisdeliveryfor-answer" style="display:none">Coming Soon!</div>
        	
        <li><div id="whatcaniorderondeliveryfor"><a>What kind of things can I order?</a></div></li>
		<div id="whatcaniorderondeliveryfor-answer" style="display:none">Coming Soon!</div>

        <li><div id="wherecaniorder"><a>What locations can I order from?</a></div></li>
		<div id="wherecaniorder-answer" style="display:none">Coming Soon!</div>
        
        <li><div id="isyoursitesecure"><a>Is the site secure? How can I be sure?</a></div></li>
		<div id="isyoursitesecure-answer" style="display:none">Coming Soon!</div>
		    
		<li><div id="howcanieditmyprofile"><a>How can I edit my profile?</a></div></li>
		<div id="howcanieditmyprofile-answer" style="display:none">Coming Soon!</div>
	</ol>
	<br>
	<br>

	<h2 style="text-align:center;">ordering</h2><hr>
	<ol class="questions"><br>
        <li><div id="howcaniorder"><a>How can I order on deliveryfor?</a></div></li>
        <div id="howcaniorder-answer" style="display:none">Coming Soon!</div>

		<li><div id="whataredeliveryratings"><a>What are delivery ratings?</a></div></li>
		<div id="whataredeliveryratings-answer" style="display:none">Coming Soon!</div>

        <li><div id="whatarethefees"><a>What are the delivery fees?</a></div></li>
		<div id="whatarethefees-answer" style="display:none">Coming Soon!</div>

        <li><div id="howcanipay"><a>How can I pay?</a></div></li>
        <div id="howcanipay-answer" style="display:none">Coming Soon!</div>

        <li><div id="canichangemyorder"><a>Can I change my order?</a></div></li>
        <div id="canichangemyorder-answer" style="display:none">Coming Soon!</div>

        <li><div id="canitrack"><a>Can I track my order’s progress?</a></div></li>
        <div id="canitrack-answer" style="display:none">Coming Soon!</div>

        <li><div id="caniusecoupons"><a>Can I use coupons?</a></div></li>
		<div id="caniusecoupons-answer" style="display:none">Coming Soon!</div>
	</ol>
	<br>
	<br>

	<h2 style="text-align:center;">delivery</h2><hr>
	<ol class="questions"><br>
		<li><div id="whataredrivers"><a>What are deliveryfor members?</a></div></li>
        <div id="whataredrivers-answer" style="display:none">Coming Soon!</div>
		
        <li><div id="officialmenber"><a>What does it mean if a member is official? </a></div></li>
        <div id="officialmenber-answer" style="display:none">Coming Soon!</div>
		
        <li><div id="howcanideliver"><a>How can I deliver for deliveryfor? When could I work?</a></div></li>
        <div id="howcanideliver-answer" style="display:none">Coming Soon!</div>
        	
        <li><div id="howdofeeswork"><a>How do fees work? And how do I get paid?</a></div></li>
        <div id="howdofeeswork-answer" style="display:none">Coming Soon!</div>

        <li><div id="wherecanigetmoredeliveryinfo"><a>Where can I get more information about delivering?</a></div></li>
    	<div id="wherecanigetmoredeliveryinfo-answer" style="display:none">Coming Soon!</div>
	</ol>
	<br>
	<br>

	<h2 style="text-align:center;">giving back</h2><hr>
	<ol class="questions"><br>
		<li><div id="givingback"><a>What is deliveryfor trying to acheive?</a></div></li>
        <div id="givingback-answer" style="display:none">Coming Soon!</div>
        	
        <li><div id="howcanihelp"><a>How can I help?</a></div></li>
        <div id="howcanihelp-answer" style="display:none">Coming Soon!</div>
        	
        <li><div id="whatisgivingfor"><a>What is givingfor</a></div></li>
        <div id="whatisgivingfor-answer" style="display:none">Coming Soon!</div>
	</ol>
	<br>
	<br>

</div>

<script>

	$("#howcanihelp-answer").show("slow");
	$("#howcanihelp-answer").hide();
	$("#howcanihelp").click(function () {
	$("#howcanihelp-answer").slideToggle();});
	
	$("#officialmenber-answer").show("slow");
	$("#officialmenber-answer").hide();
	$("#officialmenber").click(function () {
	$("#officialmenber-answer").slideToggle();});
	
	$("#givingback-answer").show("slow");
	$("#givingback-answer").hide();
	$("#givingback").click(function () {
	$("#givingback-answer").slideToggle();});
	
	$("#howcaniorder-answer").show("slow");
	$("#howcaniorder-answer").hide();
	$("#howcaniorder").click(function () {
	$("#howcaniorder-answer").slideToggle();});
		
	$("#howdofeeswork-answer").show("slow");
	$("#howdofeeswork-answer").hide();
	$("#howdofeeswork").click(function () {
	$("#howdofeeswork-answer").slideToggle();});
	
	$("#whyshouldirate-answer").show("slow");
	$("#whyshouldirate-answer").hide();
	$("#whyshouldirate").click(function () {
	$("#whyshouldirate-answer").slideToggle();});
	
	$("#whatarethefees-answer").show("slow");
	$("#whatarethefees-answer").hide();
	$("#whatarethefees").click(function () {
	$("#whatarethefees-answer").slideToggle();});
	
	$("#howcanipay-answer").show("slow");
	$("#howcanipay-answer").hide();
	$("#howcanipay").click(function () {
	$("#howcanipay-answer").slideToggle();});
	
	$("#canichangemyorder-answer").show("slow");
	$("#canichangemyorder-answer").hide();
	$("#canichangemyorder").click(function () {
	$("#canichangemyorder-answer").slideToggle();});
	
	$("#canitrack-answer").show("slow");
	$("#canitrack-answer").hide();
	$("#canitrack").click(function () {
	$("#canitrack-answer").slideToggle();});
	
	$("#caniusecoupons-answer").show("slow");
	$("#caniusecoupons-answer").hide();
	$("#caniusecoupons").click(function () {
	$("#caniusecoupons-answer").slideToggle();});
	
	$("#whataredrivers-answer").show("slow");
	$("#whataredrivers-answer").hide();
	$("#whataredrivers").click(function () {
	$("#whataredrivers-answer").slideToggle();});
	
	$("#howcanideliver-answer").show("slow");
	$("#howcanideliver-answer").hide();
	$("#howcanideliver").click(function () {
	$("#howcanideliver-answer").slideToggle();});
	
	$("#wherecanigetmoredeliveryinfo-answer").show("slow");
	$("#wherecanigetmoredeliveryinfo-answer").hide();
	$("#wherecanigetmoredeliveryinfo").click(function () {
	$("#wherecanigetmoredeliveryinfo-answer").slideToggle();});
	
	$("#howcanieditmyprofile-answer").show("slow");
	$("#howcanieditmyprofile-answer").hide();
	$("#howcanieditmyprofile").click(function () {
	$("#howcanieditmyprofile-answer").slideToggle();});
	
	$("#whatisdeliveryfor-answer").show("slow");
	$("#whatisdeliveryfor-answer").hide();
	$("#whatisdeliveryfor").click(function () {
	$("#whatisdeliveryfor-answer").slideToggle();});
	
	$("#whatcaniorderondeliveryfor-answer").show("slow");
	$("#whatcaniorderondeliveryfor-answer").hide();
	$("#whatcaniorderondeliveryfor").click(function () {
	$("#whatcaniorderondeliveryfor-answer").slideToggle();});
	
	$("#wherecaniorder-answer").show("slow");
	$("#wherecaniorder-answer").hide();
	$("#wherecaniorder").click(function () {
	$("#wherecaniorder-answer").slideToggle();});
	
	$("#whataredeliveryratings-answer").show("slow");
	$("#whataredeliveryratings-answer").hide();
	$("#whataredeliveryratings").click(function () {
	$("#whataredeliveryratings-answer").slideToggle();});
	
	$("#isyoursitesecure-answer").show("slow");
	$("#isyoursitesecure-answer").hide();
	$("#isyoursitesecure").click(function () {
	$("#isyoursitesecure-answer").slideToggle();});
	
	$("#whatisgivingfor-answer").show("slow");
	$("#whatisgivingfor-answer").hide();
	$("#whatisgivingfor").click(function () {
	$("#whatisgivingfor-answer").slideToggle();});
	
</script>
