{{extend 'layout.html'}}
{{if session.auth is None:}}
{{else:}}
    <style type="text/css">
        a{text-decoration:none;
        h4{text-decoration:none;}
        #resultLiveSearch:hover{background-color:rgb(245,245,245)}
        #ajaxresults{
            background: #ffffff;
            padding: 5px 10px;
            max-height: 400px;
            min-width:192px;
            overflow: auto;
            position: absolute;
            z-index: 99;
            border: 1px solid #A9A9A9;
            border-width: 0 1px 1px 1px;
            -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
            -box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
            margin-top:-10px;
            border-bottom-right-radius:3px;
            border-bottom-left-radius:3px;
        }
        #ajaxresults a{color:#666666;}
        input[type=text]{
            font-size:12px;
            color:#666666;
            background-color:#ffffff;
            padding-top:5px;
            width:200px;
            height:20px;
            border:1px solid #999999;
        }
    </style>
    <script type="text/javascript" src="/deliveryfor/static/js/jquery.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            hide();
        });

        function getData(value){
            if(value != ""){
                $("#ajaxresults").show();
                $.post("{{=URL(r=request,f='ajaxlivesearch')}}",{partialstr:value},function(result){
                    $("#ajaxresults").html(result);
                });
            }else{
                hide();
            }
        }

        function hide(){
            $("#ajaxresults").hide();
        }

        function copyToBox(value){
            $("#member_search_member_location").val(value);
            hide();
        } 
        
    	$(document).click(function(){
            $("#ajaxresults").hide();
    	}); 

    </script>
{{pass}}
<style>
    #search-container{
        background-color:rgb(247,247,247);
        border-top:1px solid rgb(225,225,225);
        border-bottom:1px solid rgb(225,225,225);
    }
    #project-list-container{text-align:center;width:100%;}
    #project-list-item{border:2px solid rgb(206,206,206);display:inline-block;padding:10px;margin:7px;border-radius:5px;}
    #project-list-item:hover{border:2px solid rgb(140,140,140);display:inline-block;padding:11px;margin:7px;border-radius:5px;background-color:rgb(255,255,255);}

</style>

<div style="border-bottom:4px solid rgb(51,102,153);">
    <div style="width:100%; height:300px;border-bottom:4px solid rgb(51,51,51);border-bottom:100px soild rgb(255,255,255)" id="map" ></div>   
</div>

<div id="delivery_images" style="margin-top:-157px;">	
    <div id="tS1" class="jThumbnailScroller" style="width:100%;margin-left:2px;margin-right:2px;">
        <div class="jTscrollerContainer">
            <div class="jTscroller">
                {{for picture in member_picture_array:}}
                    {{member_id=picture['user_id']}}
                    {{member_name=db(db.auth_user.id==member_id).select()[0]['username']}}
                    <a href="/member/{{=member_name}}/"><img src="/download/{{=picture['picture']}}/" style="height:96px;" /></a>
                {{pass}}
            </div>
        </div>
    </div>
</div>	   

<div style="margin-left:5%;margin-right:5%;">
    <br>
    <h1 style="color:rgb(0,0,0); text-align:center;">deliveryfor... {{=XML(index_header_block_list)}}</h1><hr>
    <br> 
</div>
<div id="search-container">
    <br>            
    <div id="search_box" style="border:3px solid rgb(51,102,153);border-radius:10px;max-width:800px;margin-left:auto;margin-right:auto;">
        <div style="padding-top:20px;padding-bottom:0px;padding-left:30px;border-radius:7px;border:3px solid rgb(100,100,100);background-color:rgb(255,255,255)">  
            <form action="#" enctype="multipart/form-data" method="post">	
                <table>
                    <tbody>
                        <tr>	
                            <td class="w2p_fw">
                                <input class="string" id="member_search_member_location" autocomplete="on" onkeyup="getData(this.value);" name="member_location" value="" placeholder="location" type="text">
                                {{if session.auth is None:}}
                                {{else:}}
                                    <div id="ajaxresults"></div>
                                {{pass}}
                            </td>
                            <td class="w2p_fc">
                            <td class="w2p_fc">
                                <a id="geolocate" class="geolocate btn" style="margin-top:2px;margin-right:6px;"><i class="icon-map-marker"></i></a>
                            </td>
                            <td class="w2p_fc"></td>
                            <td class="w2p_fc"></td>
                            <td class="w2p_fw">
                                <input class="integer" id="member_search_radius" name="radius" value="" type="text" style="width:100px;" placeholder="radius">
                                <select style="width:60px;">
                                    <option value="volvo">mi.</option>
                                    <option value="saab">km.</option>
                                </select>
                            </td>
                            <td class="w2p_fc"></td>
                            <td class="w2p_fc"></td>
                            <td class="w2p_fw">
                                <input class="string" id="member_search_details" name="details" value="" type="text" style="width:100px;" placeholder="any details?">
                            </td>
                            <td class="w2p_fc">
                            </td>	
                            <td class="w2p_fl"></td>
                            <td class="w2p_fw">
                                <button type="submit" class="btn btn-success"><i class=" icon-search icon-white"></i></button>
                            </td>
                            <td class="w2p_fc"></td>
                        </tr>
                    </tbody>
                </table>
                <div style="display: none;" class="hidden">
                	<input name="_formname" value="test" type="hidden">
                </div>
            </form>	
        </div>
    </div>
    <br>
</div>
<div style="margin-left:5%;margin-right:5%;">
    {{if session.auth is None:}}

    {{for counter, index in enumerate(index_block_list):}}
        <div style="display:none;" id="index-scroller-{{=counter}}">
            {{=XML(index['html_content'])}}
        </div>
    {{pass}}

    <script>
        $(document).ready(function() {
            var index_block_list = {{=len(index_block_list)}} - 1;
            $('#index-scroller-0').css('display','block');
            function interval_function(){
                var i = Math.round((Math.random()) * index_block_list);   
                if (i >= index_block_list) --i;
                for(var j = 0; j < index_block_list; j++){
                    var css_picture_info_property = $('#index-scroller-' + j).css('display');
                    if (css_picture_info_property == 'block'){
                        var css_picture_info_property_index = j;
                        $('#index-scroller-' + j).fadeToggle(1500, "linear").delay(1500);

                    }
                    $('#index-scroller-' + j).css('display','none');
                } 
                while (i == css_picture_info_property_index){
                    i = Math.round((Math.random()) * index_block_list);
                    if (i >= index_block_list) --i;                     
                }
                $('#index-scroller-' + i).fadeToggle(1500, "linear");
                $('#index-scroller-' + i).css('display','block').delay(1500);
            }; 
            timer = setInterval(interval_function,12000);    
        });       
    </script>

    {{else:}}
            <hr>
            <br>
            <h4 style="text-align:left;">reccomended</h4><hr>
            <table style="margin-left:auto;margin-right:auto;">
                <tr>
                    {{for x in range(10):}}
                        <td><h5 style="text-align:left;">item/location {{=x}}</h5></td>
                    {{pass}}
                </tr>
            </table>

        {{pass}}
        <br>
        <hr>  
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="{{=URL('static','js/gmaps.js')}}"></script>
            <!--
    <script>   
      $(document).ready(function(){                                                         
      map = new GMaps({
      {{lat_sum=0}}
      {{lng_sum=0}}
      {{counting = 0}}
      {{for latlng in delivery_member_array:}}
        {{counting = counting + 1}}
        {{lat_sum=lat_sum + latlng[0]}}
        {{lng_sum=lng_sum + latlng[1]}}                                        
      {{pass}}
              
      {{if len(delivery_member_array) == 0:}}   
        {{lng_avg = 0}}
        {{lat_avg = 0}}
      {{else:}}
        {{lng_avg = lng_sum / counting}}
        {{lat_avg = lat_sum / counting}}      
      {{pass}}
      div: '#map',
      //zoom:7, 
      lat:{{=lat_avg}},
      lng:{{=lng_avg}}    
      }); 
        {{import random}}       
        {{for lat_lng in delivery_member_array:}}
          map.addMarker({
          lat: {{=lat_lng[0]}},
          lng: {{=lat_lng[1]}},
          title: '{{=lat_lng[2]}}',
          infoWindow: { 
          content: '<div class = "MarkerPopUp" style="width: 400px;height:250px;"><div class = "MarkerContext">\
          <table><tr><td>{{=lat_lng[2]}}</td></tr></table>\
          </div></div>'
          }
          });
        {{pass}} 
      map.fitZoom();
      }); 
</script>-->
        <script>   
          $(document).ready(function(){                                                         
          map = new GMaps({
          {{lat_sum=0}}
          {{lng_sum=0}}
          {{counting = 0}}
          {{for latlng in delivery_member_array:}}
            {{counting = counting + 1}}
            {{lat_sum=lat_sum + latlng[0]}}
            {{lng_sum=lng_sum + latlng[1]}}                                        
          {{pass}}
                  
          {{if len(delivery_member_array) == 0:}}   
            {{lng_avg = 0}}
            {{lat_avg = 0}}
          {{else:}}
            {{lng_avg = lng_sum / counting}}
            {{lat_avg = lat_sum / counting}}      
          {{pass}}
          div: '#map',
          //zoom:7, 
          lat:{{=lat_avg}},
          lng:{{=lng_avg}}    
          }); 
                             
            {{import random}}       
            {{for lat_lng in delivery_member_array:}}
              map.addMarker({
              lat: {{=lat_lng[0]}},
              lng: {{=lat_lng[1]}},
              title: '{{=lat_lng[4]}}',
              infoWindow: { 
              content: '<div class = "MarkerPopUp" style="width: 400px;height:250px;"><div class = "MarkerContext">\
              <a href="/member/{{=lat_lng[4]}}">{{=lat_lng[4]}}</a><hr>\
              <table><tr><td>{{if lat_lng[3]:}}<img src="{{=URL('download',args=lat_lng[3][random.randint(0,len(lat_lng[3])-1)])}}" style="height:64px;" class="img-polaroid" />{{pass}}</td>\
              <td>{{=lat_lng[2]}}</td></tr></table>\
              </div></div>'
              }
              });
              map.drawCircle({
              lat: {{=lat_lng[0]}},
              lng: {{=lat_lng[1]}},
              radius: 1000   
              });
            {{pass}} 
          map.fitZoom();
          }); 
        </script>
<script type="text/javascript">
    {{an_array=[]}}
    {{import time}}
    {{array = [1,2,3,4,5]}}
    {{for counter, value in enumerate(array):}}
        {{an_array.append([ value*1000, int(value) ])}}
    {{pass}}

    $(function() {
        var data = '';
        var show_graph_lines = true;
        if (data == ''){data = {{=an_array}};}                  
        var options = {
            series: {
                lines: {show: true},                            
                points: {show: true}
            },
            grid: {
                hoverable: true,
                clickable: true
            },
            xaxis:{mode:"time",},
            yaxis: {show: true,},
            selection: {mode: "x"},
        };
        var placeholder = $.plot("#placeholder", [data], options);
        $("#placeholder").bind("plotselected", function (event, ranges) {
            placeholder = $.plot("#placeholder", [data], $.extend(true, {}, options, {
            xaxis: {
                min: ranges.xaxis.from,
                max: ranges.xaxis.to
            },
            lines: { show: show_graph_lines },
            points: { show: true }
            }));
        overview.setSelection(ranges, true);
        }); 
                                       
        function showTooltip(x, y, contents) {
            $("<div id='tooltip'>" + contents + "</div>").css({
            position: "absolute",
            display: "none",
            top: y + 5,
            left: x + 5,
            border: "1px solid #fdd",
            padding: "2px",
            "background-color": "#fee",
            opacity: 0.80
            }).appendTo("body").fadeIn(200);
        }           
        var previousPoint = null;
        $("#placeholder").bind("plothover", function (event, pos, item) {
            var str = "(" + pos.x.toFixed(2) + ", " + pos.y.toFixed(2) + ")";
            $("#hoverdata").text(str);
            if (item) {
                if (previousPoint != item.dataIndex) {         
                    previousPoint = item.dataIndex;
                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2);          
                    showTooltip(item.pageX, item.pageY,
                    item.series.label + " of " + x + " = " + y);
                }
            } else {
                $("#tooltip").remove();
                previousPoint = null;            
            }           
        });   
        $("#placeholder").bind("plotclick", function (event, pos, item) {
            if (item) {
                $("#clickdata").text(" - click point " + item.dataIndex + " in " + item.series.label);
                plot.highlight(item.series, item.datapoint);
            }
        });
    });


</script>
    
        <div>  
            <table style="margin-left:auto;margin-right:auto;">
                <tr>
                    <td><h4 style="text-align:left;"><a href="/about/">about</a></h4></td>
                    <td><h4 style="text-align:left;"><a href="/blog/">blog</a></h4></td>
                    <td><h4 style="text-align:left;"><a href="/contact/">contact</a></h4></td>
                    <td><h4 style="text-align:left;"><a href="/faq/">faq</a></h4></td>
                    <td><h4 style="text-align:left;"><a href="/items/">items</a></h4></td>
                    <td><h4 style="text-align:left;"><a href="/locations/">locations</a></h4></td>
                    <td><h4 style="text-align:left;"><a href="/mission/">mission</a></h4></td>
                    <td><h4 style="text-align:left;"><a href="/privacy/">privacy</a></h4></td>
                    <td><h4 style="text-align:left;"><a href="/stats/">stats</a></h4></td>
                    <td><h4 style="text-align:left;"><a href="/terms/">terms</a></h4></td>
                    <td><h4 style="text-align:left;"><a href="/transparency/">transparency</a></h4></td>
                </tr>
            </table>
        </div>
        <hr>
<br>
<br>
<br>

        <h4 style="text-align:left;"><a href="/locations/" style="margin-right:15px;">available locations</a><a id="geolocate" class="geolocate btn" style="margin-top:2px;margin-right:6px;"><i class="icon-map-marker"></i></a> (near location)</h4>
        <p style="text-align:left;">
            {{for tag in reversed(tag_location_list_sorted_by_total_count):}}
            <div id="tag-list-item" style="margin-right:15px;font-family:ubuntu;float:left;">                         
              <a href="/tags/{{=tag[0]}}" >{{=tag[0]}}</a>
              <a style="color:rgb(210,210,210);" href="/tags/{{=tag[0]}}"> ( {{=tag[1]}} ) </a>
            </div>
            {{pass}}
        </p>
        <br><br>
        <div id="project-list-container">
            {{for location in location_array:}}
            <div id="project-list-item">
                {{from random import choice}}
                {{picture = choice(location[1])}}
                <img class="img-polaroid" src="/download/{{=picture['picture']}}" style="height:128px"/><br>
                <h4><a href="/location/{{=location[0]['url_title']}}/">{{=location[0]['name']}}</a></h4>
                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                <br>
            </div>
            {{pass}}
        </div>

        <br><br><br>
        <hr>
        <br><br><br>

    	<h4 style="text-align:left;"><a href="/items/" style="margin-right:15px;">available items</a><a id="geolocate" class="geolocate btn" style="margin-top:2px;margin-right:6px;"><i class="icon-map-marker"></i></a> (near location)</h4>
        <p style="text-align:left;">
            {{for tag in reversed(tag_item_list_sorted_by_total_count):}}
            <div id="tag-list-item" style="margin-right:15px;font-family:ubuntu;float:left;">                         
              <a href="/tags/{{=tag[0]}}" >{{=tag[0]}}</a>
              <a style="color:rgb(210,210,210);" href="/tags/{{=tag[0]}}"> ( {{=tag[1]}} ) </a>
            </div>
            {{pass}}
        </p>        
        <div id="project-list-container">
            {{for item in item_list:}}
            <div id="project-list-item">
                <img class="img-polaroid" src="/download/" style="height:128px"/><br>
                <h4><a href="/item/">{{=item['title']}}</a></h4>
                <p>item location</p>
                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                <br>
            </div>
            {{pass}}
        </div>

        <hr>
        <br>

</div>
<br>
<br>
<br>

<div class="social-buttons" style="background-color:rgb(247,247,247);border-top:1px solid rgb(225,225,225);border-bottom:1px solid rgb(240,240,240);">
    <div style="border-top:1px solid rgb(240,240,240);">
        <br><br>
        <div style="margin-left:3%;margin-right:3%">
            <table>
                <tr>
                    <td style="width:18%">
                        <div class="fb-like" data-href="https://www.facebook.com/pages/deliveryfor/359695030812330" data-send="false" data-width="450" data-show-faces="true" data-font="arial"></div>
                    </td>
                    <td style="width:18%"><br>
                        <a href="https://twitter.com/deliveryfor" class="twitter-follow-button" data-show-count="true">Follow @deliveryfor</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </td>
                    <td style="width:18%"><br>
                        <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
                        <g:plusone></g:plusone>
                    </td>
                    <td style="width:28%">
                        <a href=""><img class="social" style="height:48px;" src="/deliveryfor/static/images/app_store_icon.png" /></a>
                        <a href=""><img class="social" style="height:48px;" src="/deliveryfor/static/images/android_marketplace_icon.png" /></a>
                    </td>
                    <td style="width:18%"><br>
                        <h4 style="text-align:right;"><i class="icon-briefcase" style="margin-top:5px;margin-right:10px;"></i>business owner? click <a style="text-decoration:none;"href="/business">here</a></h4>
                    </td>
                </tr>
            </table>
            <br>
        </div>
	</div>
</div>
