{{extend 'layout.html'}}
<style>
#contentwrapper{width: 100%;}               
#content { //margin: 0 280px 0 180px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/}
#right { 
        float: right;
        width: 255px;
    	border-left:1px solid rgb(238,238,238);
		border-bottom:1px solid rgb(238,238,238);
        padding-left:15px;
		padding-right:15px;
		padding-bottom:15px;
}
#left { 
        float: left;
        width: 175px;
    	border-right:1px solid rgb(238,238,238);
		border-bottom:1px solid rgb(238,238,238);
        padding-left:15px;
		padding-bottom:15px; 
}
#collapsed-left {
        float: left;
		border-bottom:1px solid rgb(238,238,238);
    	border-right:1px solid rgb(238,238,238);
    	padding-left:7px;
		padding-right:7px;
}
#collapsed-left:hover {
        float: left;
    	padding-left:7px;
		padding-right:7px;
		background-color:rgb(245,245,248);
        border-right:1px solid rgb(235,235,238);
		border-bottom:1px solid rgb(235,235,238)
}
#collapse-left {
        padding-left:5px;
        padding-right:5px;
        float:right;
        border-left:1px solid rgb(238,238,238);
        border-bottom:1px solid rgb(238,238,238);
}
#collapse-left:hover {
        padding-left:5px;
        padding-right:5px;
        float:right;
        background-color:rgb(245,245,248);
        border-left:1px solid rgb(235,235,238);
		border-bottom:1px solid rgb(235,235,238) 
}
</style>
<script type="text/javascript" src="{{=URL(request.application,'static','js/jquery.tagsinput.js')}}"></script>  
<link rel="stylesheet" type="text/css" href="/deliveryfor/static/css/jquery.tagsinput.css" />

<script>
    function onAddTag_marketplace(tag) {
        ajax('ajax_add_tag_collection', ['collection_add_tag_form'], ':eval');
    }
    $(document).ready(function(){      
    $('#sidebar_add_tag_form').tagsInput({
        onAddTag:onAddTag_marketplace,
        onRemoveTag:onAddTag_marketplace,
        'defaultText':'tags',
        'width':'auto',
        'height':'auto'     
    });                                                   
        $("#collapse-left").click(function() {  
            $("#left").fadeToggle(300);
            $("#collapsed-left").delay(300).fadeToggle(300);
        });
        $("#open-left").click(function() {  
            $("#collapsed-left").fadeOut(300);  
            $("#left").delay(300).fadeIn(300);  
        });
    $("#close-ad").click(function() {       
        $("#ad_block").fadeToggle();        
    });
    });
</script>  
<div id="item-image">  		 
	{{for picture in item_picture_array:}}
		<a href="#"><img src="{{=URL('download',args=picture['picture'])}}" style="height:128px;" class="img-polaroid" /></a>
	{{pass}} 		 
</div>	
<h1>items</h1><hr>

<div id="collapsed-left" style="display:none;">
    <a id="open-left">
        <div style="">
        	<h5 title="expand" style="margin:0px;padding:3px;"> >> </h5>
        </div>
    </a>
</div>

<div id="left">
    <a id="collapse-left"> <h5 style="margin:0px;padding:3px;" title="minimize"> << </h5> </a>
    <br>
    filters<br>
    filters<br>
    filters<br>

  <div style="margin-right:16px;" id="div_sidebar_add_tag"><input name = "sidebar_add_tag" type="text" id="sidebar_add_tag_form" /></div><br>   
    <hr style="margin-top:10px;"><br>
    <div id="tag-list">
      {{for tag in reversed(tag_item_list_sorted_by_total_count):}}
        <div id="tag-list-item" style="margin-right:15px;font-family:ubuntu;">                         
          <a href="/tags/{{=tag[0]}}" >{{=tag[0]}}</a>
          <a style="color:rgb(210,210,210);" href="/tags/{{=tag[0]}}"> ( {{=tag[1]}} ) </a>
          <a id="plus-{{=tag[0]}}" class="filter_tag_item" onclick="add_tag_sidebar('{{=tag[0]}}');" >+</a>                        
          <script>
            function add_tag_sidebar(tag){
              if ($('#sidebar_add_tag_form').tagExist(tag)) {
                $('#sidebar_add_tag_form').removeTag(tag);
              }
              else{
                $('#sidebar_add_tag_form').addTag(tag);
              }
            }
          </script>
        </div>
      {{pass}}
    <br>
    <p style="text-align:center;"><a>view more</a></p>
  </div>

</div>

<br>
<div id="right">
	{{for x in range(10):}}
	various locations<br>
	{{pass}}
	{{for x in range(10):}}
	suggested locations<br>
	{{pass}}
	{{for x in range(10):}}
	online members locations<br>
	{{pass}}
</div>
<div id="contentwrapper">
    <div id="content" style="border-right:1px solid rgb(238,238,238);padding:5px;">
		filters<br>
		{{for item in location_items:}}
			<h4><a href="/item/{{=item}}">{{=item['title']}}</a></h4>
		{{pass}}
    </div>
</div>
