{{extend 'layout.html'}}
<style>
    tr#ratings_id__row{display:none;}
    label#rating_votes_rating_vote__label{display:none;}
    tr#rating_votes_id__row{display:none;}
    tr#location_item_id__row{display:none;}
    tr#location_category_id__row{display:none;}
    tr#location_item_options_id__row{display:none;}
    a{cursor:pointer;}
    a:hover{text-decoration:none;}
    hr {margin: 0px;}
    #item-block-list-container{text-align:center;width:100%;}
    #item-block-list-item{border:2px solid rgb(210,210,210);display:inline-block;padding:10px;margin:7px;}
    #item-block-list-item:hover{border:2px solid rgb(110,110,110);display:inline-block;padding:11px;margin:7px;background-color:rgb(255,255,255);}
    .panel {
      padding: 15px;
      margin-bottom: 20px;
      background-color: #ffffff;
      border: 1px solid #dddddd;
      border-radius: 4px;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    }

    .panel-heading {
      padding: 10px 15px;
      margin: -15px -15px 15px;
      font-size: 17.5px;
      font-weight: 500;      
      background-color: #f5f5f5;
      border-bottom: 1px solid #dddddd;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
    }

    .panel-footer {
      padding: 10px 15px;
      margin: 15px -15px -15px;
      background-color: #f5f5f5;
      border-top: 1px solid #dddddd;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    .panel-primary {
      border-color: #428bca;
    }

    .panel-primary .panel-heading {
      color: #ffffff;
      background-color: #428bca;
      border-color: #428bca;
    }

    .panel-success {
      border-color: #d6e9c6;
    }

    .panel-success .panel-heading {
      color: #468847;
      background-color: #dff0d8;
      border-color: #d6e9c6;
    }

    .panel-warning {
      border-color: #fbeed5;
    }

    .panel-warning .panel-heading {
      color: #c09853;
      background-color: #fcf8e3;
      border-color: #fbeed5;
    }

    .panel-danger {
      border-color: #eed3d7;
    }

    .panel-danger .panel-heading {
      color: #b94a48;
      background-color: #f2dede;
      border-color: #eed3d7;
    }

    .panel-info {
      border-color: #bce8f1;
    }

    .panel-info .panel-heading {
      color: #3a87ad;
      background-color: #d9edf7;
      border-color: #bce8f1;
    }
</style>
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="{{=URL('static','js/gmaps.js')}}"></script>
<script>   
$(document).ready(function(){                                                         
  map = new GMaps({
    {{lat_sum=0}}
    {{lng_sum=0}}
    {{for counting, latlng in enumerate(lat_lng_array_member):}}
      {{lat_sum=lat_sum + latlng[0]}}
      {{lng_sum=lng_sum + latlng[1]}}                                        
    {{pass}}
    {{if len(lat_lng_array_member) != 0:}}
      {{lng_avg = lng_sum / len(lat_lng_array_member)}}
      {{lat_avg = lat_sum / len(lat_lng_array_member)}}    
    {{else:}}
      {{lat_avg = 0.00}}
      {{lng_avg = 0.00}}
    {{pass}}

    div: '#map',
    //zoom:7, 
    lat:{{=lat_avg}},
    lng:{{=lng_avg}}    
  }); 
                     
  {{import random}}       
  {{for lat_lng in lat_lng_array_location:}}
        map.addMarker({
        lat: {{=lat_lng[0]}},
        lng: {{=lat_lng[1]}},
        icon: "/deliveryfor/static/images/blue.png",
        title: '{{=lat_lng[4]}}',
        infoWindow: { 
          content: '<div class = "MarkerPopUp" style="width: 400px;height:250px;"><div class = "MarkerContext">\
          <p>{{=lat_lng[2]}}</p><hr>\
          <table><tr><td>{{if lat_lng[3]:}}<img src="{{=URL('download',args=lat_lng[3][random.randint(0,len(lat_lng[3])-1)])}}" style="height:64px;" class="img-polaroid" />{{pass}}</td>\
          <td>{{=lat_lng[4]}}</td></tr></table>\
          </div></div>'
          }
        });
        map.drawCircle({
        lat: {{=lat_lng[0]}},
        lng: {{=lat_lng[1]}},
        radius: {{=lat_lng[5]}}   
        });
  {{pass}}
  {{for lat_lng in lat_lng_array_member:}}
        map.addMarker({
        lat: {{=lat_lng[0]}},
        lng: {{=lat_lng[1]}},
        title: '{{=lat_lng[4]}}',
        infoWindow: { 
        content: '<div class = "MarkerPopUp" style="width: 400px;height:250px;"><div class = "MarkerContext">\
        <a href="/member/{{=lat_lng[4]}}/">{{=lat_lng[4]}}</a><hr>\
        <table><tr><td>{{if lat_lng[3]:}}<img src="{{=URL('download',args=lat_lng[3][random.randint(0,len(lat_lng[3])-1)])}}" style="height:64px;" class="img-polaroid" />{{pass}}</td>\
        <td>{{=lat_lng[2]}}</td></tr></table>\
        </div></div>'
        }
        });
        map.drawCircle({
        lat: {{=lat_lng[0]}},
        lng: {{=lat_lng[1]}},
        radius: {{=lat_lng[5]}}   
        });
  {{pass}} 
  map.fitZoom();
}); 
</script>      

<div style="border-bottom:4px solid rgb(51,102,153);">
    <div style="width:100%; height:300px;border-bottom:4px solid rgb(51,51,51);" id="map" ></div>   
</div>

<div class="panel panel-default" id="sidebar-order" style="float:right;position:fixed;left:80%;width:15%;padding:15px;z-index:1001;">
  <div class="panel-heading" id="sidebar-header">

    <i class="icon-briefcase" style="float:left;margin-top:15px;"></i>
    <h4 class="panel-title"><a href="/orders/" style="margin-left:15px;">orders</a></h4>

  </div>
  <div class="panel-body">

  <div class="well" style="padding:15px;max-height:400px;overflow:scroll;">
    {{for member in member_orders_from_location:}}
      {{=member['member_id']}}<br>
    {{pass}}
    <div id="sidebar-order-item"></div>
      <a href="">+</a><a href="">x</a><a href="">-</a>
      <h5>item title</h5><a data-toggle="modal" href="#add-item"><i class="fa fa-pencil-square-o"></i></a>
      <hr>
      <p>item description</p><br>
      <p>item details</p><br>
      <p>price(s)</p><br>
      <p><a href="/member/">delivery member</a></p><br>
    <hr>
  </div>
  <div class="panel-footer"><p class="btn"><a href="/orders/">continue</a></p></div>

  </div>

</div>



<div style="margin-left:5%;margin-right:5%;">
    {{if session.search_history:}}
        <a href="/search/{{=session.search_history}}">return to search</a>
    {{pass}}
    
    <div style="margin-left:10px;">
    	<br><h1>{{=location_from_url[0]['name']}}</h1>
      <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
      <a id="available-delivery-members-anchor" href="#available-delivery-members-expand"><i class="icon-user" style="margin-left:10px;margin-top:6px;"></i>({{=len(available_member_array)}})</a>
      <p class="lead"><span style="color:rgb(0,100,0);">open</span> / <span style="color:rgb(100,50,0);">closed</span></p>
      <hr><br>

	<div id="location-image">
   		 
		  {{for picture in location_picture_array:}}
    	   <a href="#"><img src="{{=URL('download',args=picture['picture'])}}" style="height:128px;" class="img-polaroid" /></a>
      {{pass}}
   		 
    </div>	
    	
<div id="location-top-block" style="margin-left:15px;">
	<br>   
    <p class="lead">
	{{tag_array = db(db.location_tag.location_id == location_from_url[0]['id']).select()}}
    {{for count, tag in enumerate(tag_array):}}
        <a href="/tags/{{=tag['tag']}}/">{{=tag['tag']}}</a>
        {{if count != len(tag_array) - 1:}},
        {{pass}}
    {{pass}}
    </p>
	<p class="lead">{{=location_from_url[0]['description']}}</p>

    <h3><a id="details-expand">details<b class="caret" id="user-caret" style=""></b><i class="icon-list" style="margin-left:10px;margin-top:10px;"></i></a></h3><hr>	
    <div id="details-form" style="margin-left:15px;">    
		<h4><a id="information-expand">information<b class="caret" id="user-caret" style=""></b><i class="icon-info-sign" style="margin-left:10px;margin-top:6px;"></i></a></h4><hr>
        <div id="information-form"><br>       
            <div style="margin-left:15px">
                <p class="lead">{{=location_from_url[0]['description']}}</p>
				<p class="lead">hours of operation</p>
                <p class="lead">{{=location_from_url[0]['phone_number']}}</p>
                <p class="lead">{{=location_from_url[0]['address']}}</p>
				<p class="lead">{{=location_from_url[0]['city']}}, {{=location_from_url[0]['location_state']}} {{=location_from_url[0]['zipcode']}}</p>
            </div> 
            <hr>
            <br>                             
        </div>	 	                  
		<h4><a id="ratings-expand">ratings<b class="caret" id="user-caret" style=""></b><i class="icon-star-empty" style="margin-left:10px;margin-top:6px;"></i></a></h4><hr>
		<div id="ratings-form">
    </div>
                 
                 
			<h4><a id="stats-expand">stats<b class="caret" id="user-caret" style=""></b><i class="icon-signal" style="margin-left:10px;margin-top:6px;"></i></a></h4><hr>
      <div id="stats-form"><br>
        <div style="margin-left:15px">
          deliveryies / time<br>
          most popular item<br>
          cash per time<br>
          average delivery member saturation<br>
          most popular times<br>

        </div>
        <hr><br>	
      </div>
				<h4><a id="available-delivery-members-expand">available delivery members<b class="caret" id="user-caret" style=""></b><i class="icon-user" style="margin-left:10px;margin-top:6px;"></i>({{=len(available_member_array)}})</a></h4><hr>
				<div id="available-delivery-members-form"><br>
          <div style="margin-left:15px">
            {{for member in available_member_array:}}
              <img src="/" style="height:64px;" class="img-polaroid">
              <a href="/member/{{=db(db.auth_user.id == member['user_id']).select()[0]['username']}}/">{{=db(db.auth_user.id == member['user_id']).select()[0]['username']}}</a><br>
              {{=member['current_location']}}<br>
              {{=member['delivery_radius']}}<br>
              {{=member['home']}}<br>
              {{=member['max_radius_from_home']}}<br>
              ratings<br>
              average<br>
              <br><br>
            {{pass}}
          </div>
          <hr><br>
        </div>
				
        {{the_variable = 'true'}}
        {{if the_variable == 'true':}}
				<h4><a id="admin-settings-expand">admin settings<b class="caret" id="user-caret" style=""></b><i class="icon-eye-open" style="margin-left:10px;margin-top:6px;"></i></a></h4><hr>
				<div id="admin-settings-form"><br>
          <div style="margin-left:15px">
            admin users
            official delivery users
          </div>
          <hr><br>
          </div>
        </div>  
        {{pass}}      
</div>        
   
    <h3><a id="deals-coupons-expand">deals and coupons<b class="caret" id="user-caret" style=""></b><i class="icon-tags" style="margin-left:10px;margin-top:10px;"></i></a></h3><hr><br>
    <div id="deals-coupons-form">
      <div style="margin-left:15px;">
      	deals and coupons
      </div>        
      <hr><br>    
    </div>                                                                  
                                                                                       
<h2><a id="items-expand">items<b class="caret" id="user-caret" style=""></b><i class="icon-align-justify" style="margin-left:10px;margin-top:16px;"></i></a></h2><hr>
<p class="lead">tags</p>
<div id="items-form" style="margin-left:15px;">

  <div class="dropdown" style="float:right;margin-right:15px;">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">sort by: <b style="margin-left:5px;"class="caret"></b></a>
    <ul class="dropdown-menu pull-right" style="left:auto;width:158px;min-width:0px;" role="menu" aria-labelledby="dLabel">
      <li><a tabindex="-1" href="#">most recent</a></li>
      <li><a tabindex="-1" href="#">relevancy</a></li>
      <li><a tabindex="-1" href="#">highest price</a></li>
      <li><a tabindex="-1" href="#">lowest price</a></li>
    </ul>
  </div>
  <div class="btn-toolbar" style="margin-left:15px;float:left;">
    <div class="btn-group">
      <a class="btn active" id="view-list"><i class="icon-align-justify"></i></a>
      <a class="btn" id="view-table"><i class="icon-th"></i></a>
    </div>
  </div>

  <hr>
  <br>
  <br>

  <br>
  <br>
  <br>

<div id="item-list-container" style="">
  <form style="display:none"><input type="hidden" id="" name="location_id" value="{{=location_from_url[0]['id']}}" /></form> 
  {{for item in items_from_location:}}
    {{picture = db(db.location_item_image.location_item_id == item['id']).select()[0]}}
    <a data-toggle="modal" href="#add-item-{{=item['id']}}" style="display:inline-block;"><img src="{{=URL('download',args=picture['picture'])}}" style="height:96px;" class="img-polaroid" /></a>
    <div class="add-item" id="add-item-{{=location_from_url[0]['id']}}" style="margin-right:10px;">
      <form style="display:none"><input type="hidden" id="" name="item_id-{{=item['id']}}" value="{{=item['id']}}" /></form> 
    </div>
    <a data-toggle="modal" href="#add-item-{{=item['id']}}"><h5>{{=item['title']}}</h5></a>
    <p>descritpion</p>
    <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>

    <a>{{=db(db.location_item_option.location_item_id == item['id']).select()}}</a>
    <hr><br>

  <div class="modal fade" id="add-item-{{=item['id']}}" style="display:none;">
    <div class="modal-header" id="add-item-{{=item['id']}}-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>add {{=item['title']}}</h3>
    </div>
    <br>
    <div class="modal-body" style="">

      options and stuff<br><br>
      options and stuff<br><br>
      options and stuff<br><br>
      options and stuff<br><br>
      options and stuff<br><br>
      options and stuff<br><br>
      options and stuff<br><br>
      options and stuff<br><br>
      options and stuff<br><br>
      <hr>

        {{for member in available_member_array:}}
              <a class="btn">select</a>
              <a href="/member/{{=db(db.auth_user.id == member['user_id']).select()[0]['username']}}/">{{=db(db.auth_user.id == member['user_id']).select()[0]['username']}}</a><br>
              {{=member['current_location']}}<br>
              {{=member['delivery_radius']}}<br>
              {{=member['home']}}<br>
              {{=member['max_radius_from_home']}}<br>
              ratings<br>
              average<br>
              <br><br>
            {{pass}}
    </div>
    <div class="modal-footer">
      <a data-toggle="modal" href="#add-item" onclick="ajax('/ajax_add_item_to_order/', ['item_id-{{=item['id']}}','location_id'], ':eval');$('#add-item-{{=item['id']}}').modal('hide');">
        <h5 class="btn">add item to order</h5>      
      </a>
    </div>
  </div>
  <script>
          $("#add-item-{{=item['id']}}").draggable({handle:"#add-item-{{=item['id']}}-header", cursor:"move"}); 
  </script>
  {{pass}}
</div>

<div id="item-block-list-container" style="display:none;">
  {{for item in items_from_location:}}
    <div id="item-block-list-item">
      <div class="add-item" id="add-item-{{=location_from_url[0]['id']}}" style="float:left;margin-right:10px;">
        {{picture = db(db.location_item_image.location_item_id == item['id']).select()}}
        <a data-toggle="modal" href="#add-item-{{=item['id']}}"><img src="{{=URL('download',args=picture)}}" style="height:128px;" class="img-polaroid" /></a>
      </div>
      <a data-toggle="modal" href="#add-item-{{=item['id']}}"><h5>{{=item['title']}}</h5></a><br>
      <a>{{=db(db.location_item_option.location_item_id == item['id']).select()}}</a>
      <p>descritpion</p><br>
      <br>
    </div>
  {{pass}}
</div>




  <br><br><br>
  
  <br> 
</div>


<br>
<br>
<br>
<br>


<script>
    $("#sidebar-order").draggable({handle:"#sidebar-header", cursor:"move"}); 
    $("#view-list").click(function() {
        if ($(this).hasClass("active")){}
        else{
            $(this).addClass("active");
            $("#view-table").removeClass("active");
            $("#item-block-list-container").fadeToggle(); 
            $("#item-list-container").fadeToggle();
        }
    });
    $("#view-table").click(function() {
        if ($(this).hasClass("active")){}
        else{
            $(this).addClass("active");
            $("#view-list").removeClass("active");
            $("#item-block-list-container").fadeToggle(); 
            $("#item-list-container").fadeToggle();
        }
    });

        $("#ratings-form").show("slow");
        $("#ratings-form").hide();
        $("#ratings-expand").click(function () {
        $("#ratings-form").slideToggle();});
                
        $("#new-item-form").show("slow");
        $("#new-item-form").hide();
        $("#new-item").click(function () {
        $("#new-category-form").hide();
        $("#new-item-form").slideToggle();});       
        
        $("#available-delivery-membersform").show("slow");
        $("#available-delivery-members-form").hide();
        $("#available-delivery-members-expand").click(function () {
        $("#available-delivery-members-form").slideToggle();});

        $("#available-delivery-members-anchor").click(function () {
        $("#available-delivery-members-form").slideToggle();});
                
        $("#admin-settings-form").show("slow");
        $("#admin-settings-form").hide();
        $("#admin-settings-expand").click(function () {
        $("#admin-settings-form").slideToggle();});
        
        $("#details-form").show("slow");
        $("#details-expand").click(function () {
        $("#details-form").slideToggle();});
        
        $("#information-form").show("slow");
        $("#information-form").hide();
        $("#information-expand").click(function () {
        $("#information-form").slideToggle();});
        
        $("#items-form").show("slow");
        $("#items-expand").click(function () {
        $("#items-form").slideToggle();});
        
        $("#stats-form").show("slow");
        $("#stats-form").hide();
        $("#stats-expand").click(function () {
        $("#stats-form").slideToggle();});
        
        $("#deals-coupons-form").show("slow");
        $("#deals-coupons-form").hide();
        $("#deals-coupons-expand").click(function () {
        $("#deals-coupons-form").slideToggle();});
        
</script>
