{{extend 'layout.html'}}
<style type=text/css> 
    div.userpictures{
        border-top:2px solid rgb(240,240,240);
        border-bottom:2px solid rgb(240,240,240);
        padding-left:2px;
        padding-right:2px;
        padding-top:4px;
        padding-bottom:4px;
        background-color:rgb(255,255,255);
    } 
    #userimages{padding-top:5px;padding-bottom:5px;}
</style>
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="{{=URL('static','js/gmaps.js')}}"></script>
<script>   
  $(document).ready(function(){                                                         
    new GMaps({
      div: '#map',
      lat: -12.043333,
      lng: -77.028333
    });
  }); 
</script>
<div style="border-bottom:4px solid rgb(51,102,153);">
    <div style="width:100%; height:250px;border-bottom:4px solid rgb(51,51,51);border-bottom:100px soild rgb(255,255,255)" id="map" ></div>   
</div>

<table style="margin-left:5%;margin-right:5%">
    <tr>
    	<td>
            <h1>{{=request.args(0)}}</h1>
        </td>
        <td style="padding:0px">
            <p class="lead" style="margin-top:22px;margin-left:10px;font-size:18px;">{{=profile_firstname}} {{=profile_lastname}}</p>
        </td>
        <td>
            <a id="facebook-login"><img src="/deliveryfor/static/images/facebook-login.png" style="width:16px"/></a>
            <a id="twitter-login"><img src="/deliveryfor/static/images/twitter-login.png" style="width:16px"/></a>
            <a id="google-login"><img src="/deliveryfor/static/images/google-login.png" style="width:16px"/></a>
        </td>
        <td>
    		<p class="lead" style="margin-top:20px;margin-left:10px;font-size:18px;">status</p>
        </td>
        <td>
            <p class="lead" style="margin-top:20px;margin-left:10px;font-size:18px;">1 2 3 4 5 (10)</p>
        </td>
        <td>
            <p class="lead" style="margin-top:20px;margin-left:10px;font-size:18px;">map options</p>
        </td>
    </tr>
</table>
<div id="userpictures" class="userpictures">
    <div id="userimages" style="margin-left:5%;margin-right:5%">
        {{import random}}
        {{random_picture_array=sorted(member_picture_array, key=lambda *args: random.random())}}
        {{for picture in random_picture_array:}}
            	<img src="{{=URL('download',args=picture)}}" style="height:128px;" class="img-polaroid" />
        {{pass}}
    </div>
</div>

<div style="margin-left:5%;margin-right:5%">
<br>

<p class="lead" style="margin-left:15px;">{{=about}}</p>
<i class="fa fa-location-arrow"></i><p>{{=current_location}}</p>
<i class="fa fa-circle-o"></i>
<p class="lead">{{=radius}}km/mi delivery radius</p>
<p class="lead">$x minimum order price</p>
<p>x concurrent orders</p>
<p>paypal / bankingfor / payment</p>

<table>
<tr>
    <td>
        <h4><a href="">ratings</a></h4>
    </td>
    <td style="padding:0px">
        <p class="lead" style="margin-top:22px;margin-left:10px;font-size:18px;">1 2 3 4 5 (10)</p>
    </td>
</tr>
</table>
<hr>

{{for the_counter, rating in enumerate(member_ratings):}}

{{=rating['rating']}}
{{=rating['description']}}

{{pass}}            
    
    
<h4><a id="availibility-expand">availabilities<b class="caret" id="user-caret" style=""></b><i class="icon-time" style="margin-top:7px;margin-left:20px;"></i></a></h4><hr>    
<div id="member_availibility-form">
<table style="margin-left:15px;" id = "" class="modified_table">
{{count10 = 0}}
{{count20 = 0}}
{{count30 = -1}}

{{if len(availability_id_array) > 0:}}
<tr>
    <td>
		<table class="modified_table">
			<tr>
        		<td style="width:340px"><h4>start time</h4></td>
        		<td style="width:200px"><h4>end time</h4></td>
			</tr>
		</table>
    </td>
</tr>
{{else:}}
{{pass}}
	
{{for start_availability in start_availability_array:}}
    {{count10 = count10 + 1}}
	{{for end_availability in end_availability_array:}}
    	{{count20 = count20 + 1}}
    	{{count30 = count30 + 1}}
    	{{if count10 == count20:}}

    	<tr>
    		<td>
    		    <table class="modified_table">   			    		
    		    		
    				<tr>
            			<td style="width:340px;"><p class="lead" style="font-size:12pt;">{{=start_availability}}</p></td>
            			<td style="width:200px"><p class="lead" style="font-size:12pt;">{{=end_availability}}</p></td>
					</tr>
    	
                </table>
            </td>
    	</tr>
    	
    {{pass}}
    {{pass}}
    {{count20 = 0}}
    {{count30 = -1}}
    {{pass}}
    </table>
</div>    
    
        
<h4><a id="fee-expand">fees<b class="caret" id="user-caret" style=""></b><i class="icon-tags" style="margin-top:7px;margin-left:20px;"></i></a></h4><hr>

<div id="member_fee-form">
<table id = "member_fee-form" style="margin-left:25px;" class="modified_table">
{{count200 = 0}}
{{count300 = -1}}

{{for fee_id in fee_id_array:}}
    	{{count200 = count200 + 1}}
    	{{count300 = count300 + 1}}
    	<tr>
    		<td>
				<table class="modified_table">
    				<tr>
        				<td style="width:150px"><h4 style="margin-left:-10px">{{=complete_fee_array[10][count300]}}</h4></td>
    				</tr>
        		</table>
            </td>
    	</tr>
        <tr>
    		<td>
        		<table class="modified_table">
    				<tr>
                        {{if int(complete_fee_array[1][count300]) > 0:}}
                            <td style="width:150px"><p class="lead" style="font-size:14px">Flat Rate: {{=complete_fee_array[1][count300]}}</p></td>
                        {{else:}}
                        {{pass}} 
                        {{if int(complete_fee_array[2][count300]) > 0:}}
                            <td style="width:150px"><p class="lead" style="font-size:14px">Percentage: {{=complete_fee_array[2][count300]}}</p></td>
                        {{else:}}
                        {{pass}} 
                        {{if int(complete_fee_array[3][count300]) > 0:}}
                            <td style="width:150px"><p class="lead" style="font-size:14px">Per Distance: {{=complete_fee_array[3][count300]}}</p></td>
                        {{else:}}
                        {{pass}} 
                        
                       {{if int(complete_fee_array[4][count300]) > 0:}}
                            <td style="width:150px"><p class="lead" style="font-size:14px">Per Hour: {{=complete_fee_array[4][count300]}}</p></td>
                        {{else:}}
                        {{pass}} 
                        
                        {{if int(complete_fee_array[5][count300]) > 0:}}
                            <td style="width:150px"><p class="lead" style="font-size:14px">Min Amount: {{=complete_fee_array[5][count300]}}</p></td>
                        {{else:}}
                        {{pass}}
                        {{if int(complete_fee_array[6][count300]) > 0:}}
                            <td style="width:150px"><p class="lead" style="font-size:14px">Max Amount: {{=complete_fee_array[6][count300]}}<p></td>
                        {{else:}}
                        {{pass}}         
                        {{if complete_fee_array[7][count300] is True:}}
                        <td style="width:200px"><p class="lead" style="font-size:14px">Active<p></td>
                        {{else:}}
                        <td style="width:200px"><p class="lead" style="font-size:14px">Not Active<p></td>
                        {{pass}}
            		</tr>
        	</table>
		</td>
	</tr>
    {{pass}}
    </table>
    </div>
    
<h3>{{=A('stats', _href=URL('recent'))}}</h3><hr>
<div id="member-stats">
    <h5>order history</h5>
    <h5>locations</h5>
    <h5>items</h5>
    <h5>orders / time</h5>
    <h5>order dollar value / time</h5>
    <h5>givingfor contributions</h5>
    <h5>time available</h5>
    <h5>distance traveled/time</h5>
    <h5>fees collected / time</h5>

	<script type="text/javascript">
		{{an_array=[]}}
		{{import time}}
		{{array = [1,2,3,4,5]}}
		{{for counter, value in enumerate(array):}}
			{{an_array.append([ value*1000, int(value) ])}}
		{{pass}}                
		$(function() {
            var data = '';
            var show_graph_lines = true;
            if (data == ''){data = {{=an_array}};}              
            var options = {
                series: {
                    lines: {
                        show: true
                    },
                    points: {
                        show: true
                    }
                },
                grid: {
                    hoverable: true,
                    clickable: true
                },
                xaxis:{
                    mode:"time",
                },
                yaxis: {
                    show: true,
                },
                selection: {
                    mode: "x"
                },
            };
            var placeholder = $.plot("#placeholder", [data], options);
            $("#placeholder").bind("plotselected", function (event, ranges) {
                placeholder = $.plot("#placeholder", [data], $.extend(true, {}, options, {
                    xaxis: {
                        min: ranges.xaxis.from,
                        max: ranges.xaxis.to
                    },
                    lines: { show: show_graph_lines },
                    points: { show: true }
                }));
                overview.setSelection(ranges, true);
            });	 
            var previousPoint = null;
            $("#placeholder").bind("plothover", function (event, pos, item) {               
                var str = "(" + pos.x.toFixed(2) + ", " + pos.y.toFixed(2) + ")";
                $("#hoverdata").text(str);
                                           
                if (item) {
                    if (previousPoint != item.dataIndex) {
                        previousPoint = item.dataIndex;
                        $("#tooltip").remove();
                        var x = item.datapoint[0].toFixed(2),
                        y = item.datapoint[1].toFixed(2);
                        showTooltip(item.pageX, item.pageY,
                        item.series.label + " of " + x + " = " + y);
                    }
                } else {
                    $("#tooltip").remove();
                    previousPoint = null;            
                }			
            });     
            $("#placeholder").bind("plotclick", function (event, pos, item) {
                if (item) {
                    $("#clickdata").text(" - click point " + item.dataIndex + " in " + item.series.label);
                    plot.highlight(item.series, item.datapoint);
                }
            });        	
        });	
	</script>
	<div id="placeholder" style="width:75%;height:250px;display: table;margin: 0 auto;"></div>
</div>
	
<h3>available locations</h3><hr>
<h3>available items</h3><hr>

    {{if delivery_profile_id:}}
    	{{if request.args(0)==session.auth.user.username:}}
    		<a href="/user/profile/">edit</a>
		{{pass}}
    {{pass}}
</div>

<br>
<br>
<br>
<br>

<script src="{{=URL('static','js/gmaps.js')}}"></script>
<script>
    $("#member_availibility-form").show("slow");
    $("#availibility-expand").click(function () {
    $("#member_availibility-form").slideToggle();});
	$("#member_fee-form").show("slow");
    $("#fee-expand").click(function () {
    $("#member_fee-form").slideToggle();});
</script>

