{{extend 'layout.html'}}
<style type="text/css">
    #another-div{margin-left:3%;margin-right:3%;}
    #another-div-container{border-top:3px solid rgb(210,210,210);}
    #discover-div{margin-left:3%;margin-right:3%;}
    #discover-div-container{border-top:3px solid rgb(210,210,210);border-bottom:3px solid rgb(210,210,210);}
    #index-header{
    background-color:rgb(247,247,247);
    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:25px;
    padding-bottom:30px;
    }
    #index-header-container{
        margin-left:5%;
        margin-right:5%;
    }
    #share-footer{
    background-color:rgb(247,247,247);
    border-top:1px solid rgb(225, 225, 225);
    }
    #share-footer-container{margin-left:5%;margin-right:5%;}
</style>
<div id="index-header">
    <div id="index-header-container">
        <h1 style="text-align:center;">mission</h1>
    </div>
</div>
<br><br>
<div style="margin-left:5%;margin-right:5%;">
    <p class="lead">operating as a service.</p>
    <p class="lead">it's time we rethought the business plan. profit from whom, again?</p>
    <p class="lead">it's part of our mission to bring profit to humanity as oppossed to profit soly for ourselves</p>
    
    <p class="lead">givingfor is <a href="/transparency/">transparent</a>, <a href="http://www.github.com/troverman/deliveryfor">opensource</a>, <a href="">crowd owned</a>, <a href="http://www.voetr.com/committee/deliveryfor">voetr enabled</a>, and <a href="http://www.givingfor.com">givingfor</a> connected.</p>
    <p class="lead">do you think deliveryfor adds postive value to society as a whole?</p>
    
    <br><br>
    <h3>friends</h3><hr>
    <p class="lead"><a href="http://www.bankingfor.com">bankingfor</a></p>
    <p class="lead"><a href="http://www.conex.us">conex.us</a></p>
	<p class="lead"><a href="http://www.epoint.me">epoint.me</a></p>
    <p class="lead"><a href="http://www.evolvedus.com">evolved us</a></p>
    <p class="lead"><a href="http://givingfor.com">givingfor</a></p>
    <p class="lead"><a href="http://hospitalityfor.com">hospitalityfor</a></p>
    <p class="lead"><a href="http://inlrn.com">inlrn</a></p>
    <p class="lead"><a href="http://insuringfor.com">insuringfor</a></p>
    <p class="lead"><a href="http://investingfor.com">investingfor</a></p>
    <p class="lead"><a href="http://lealr.com">lealr</a></p>
    <p class="lead"><a href="http://troverman.com">troverman</a></p>
    <p class="lead"><a href="http://voetr.com">voetr</a></p>
</div>
