{{extend 'layout.html'}}
<div style="margin-left:5%;margin-right:5%;">
	<br>
    <h1>Orders</h1><hr>
    <a>current</a><br>
    <a>past</a><br>
    <div id="order-block" style="margin-left:15px;">
    {{for order_item in order_list:}}
        <h3><a href="/order/{{=order_item['id']}}">order {{=order_item['id']}}</a><a><i style="margin-top:7px;margin-left:15px;" class="icon-minus"></i></a></h3><hr>
    {{pass}}
    </div>
    <a><p class="lead" style="text-align:center">load more</p></a>

</div>
