{{extend 'layout.html'}}
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="{{=URL('static','js/gmaps.js')}}"></script>
<script>   
$(document).ready(function(){                                                         
  map = new GMaps({
    div: '#map',
    //zoom:7, 
    lat:0,
    lng:0    
  }); 
}); 
</script>      
<style>
#index-header{
    background-color:rgb(247,247,247);
    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:5px;
    padding-bottom:5px;
}
#index-header-container{
    margin-left:5%;
    margin-right:5%;
}
</style>
<div style="border-bottom:4px solid rgb(51,102,153);">
    <div style="width:100%; height:300px;border-bottom:4px solid rgb(51,51,51);border-bottom:100px soild rgb(255,255,255)" id="map" ></div>   
</div>

<div id="index-header">
    <div id="index-header-container">
        <h3 style="float:left;"><i class="icon-briefcase" style="margin-top:10px;margin-left:15px;"></i>orders</h3>
        <div style="clear:both;"></div>
    </div>
</div>
<div style="margin-left:5%;margin-right:5%;">
	<br>
    <a>current</a><br>
    <a>past</a><br>
    <div id="order-block" style="margin-left:15px;">
    {{for order_item in order_list:}}
        <h3><a href="/order/{{=order_item['id']}}">order {{=order_item['id']}}</a><a><i style="margin-top:7px;margin-left:15px;" class="icon-minus"></i></a></h3><hr>
    {{pass}}
    </div>
    <a><p class="lead" style="text-align:center">load more</p></a>

</div>
