{{extend 'layout.html'}}
<br>
<div style="margin-left:5%;margin-right:5%">
	<h1>privacy</h1><hr>
	<p class="lead">deliveryfor will never disclose any information to third parties without your explict permission. but... the nsa already has a copy no matter our levels of security.</p>
	<p class="lead">to sum it up, we'll do our best..</p>
    <p class="lead">and for anyone who's intersted (lawyers maybe..?) <a>here's</a> the long, boring, standardized version that literally no one reads..</p>
</div>
