{{extend 'layout.html'}}
{{extend 'layout.html'}}
<style type="text/css">
    #another-div{margin-left:3%;margin-right:3%;}
    #another-div-container{border-top:3px solid rgb(210,210,210);}
    #discover-div{margin-left:3%;margin-right:3%;}
    #discover-div-container{border-top:3px solid rgb(210,210,210);border-bottom:3px solid rgb(210,210,210);}
    #index-header{
    background-color:rgb(247,247,247);
    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:25px;
    padding-bottom:30px;
    }
    #index-header-container{
        margin-left:5%;
        margin-right:5%;
    }
    #share-footer{
    background-color:rgb(247,247,247);
    border-top:1px solid rgb(225, 225, 225);
    }
    #share-footer-container{margin-left:5%;margin-right:5%;}
</style>
<div id="index-header">
    <div id="index-header-container">
        <h1 style="text-align:center;">privacy</h1>
    </div>
</div>
<br>
<div style="margin-left:5%;margin-right:5%">
	<p class="lead">deliveryfor will never disclose any information to third parties without your explict permission. but... the nsa already has a copy no matter our levels of security.</p>
	<p class="lead">to sum it up, we'll do our best..</p>
    <p class="lead">and for anyone who's intersted (lawyers maybe..?) <a>here's</a> the long, boring, standardized version that literally no one reads..</p>
</div>
