{{extend 'layout.html'}}
<style>
	a{cursor:pointer;}
	a:hover{text-decoration:none;}
</style>
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="{{=URL('static','js/gmaps.js')}}"></script>
<script>   
  $(document).ready(function(){                                                         
  map = new GMaps({
  {{lat_sum=0}}
  {{lng_sum=0}}
  {{counting = 0}}
  {{for latlng in lat_lng_array:}}
    {{counting = counting + 1}}
    {{lat_sum=lat_sum + latlng[0]}}
    {{lng_sum=lng_sum + latlng[1]}}                                        
  {{pass}}
          
  {{if len(lat_lng_array) == 0:}}   
    {{lng_avg = 0}}
    {{lat_avg = 0}}
  {{else:}}
    {{lng_avg = lng_sum / counting}}
    {{lat_avg = lat_sum / counting}}      
  {{pass}}
  div: '#map',
  //zoom:7, 
  lat:{{=lat_avg}},
  lng:{{=lng_avg}}    
  }); 
    {{import random}}       
    {{for lat_lng in lat_lng_array:}}
      map.addMarker({
      lat: {{=lat_lng[0]}},
      lng: {{=lat_lng[1]}},
      title: '{{=lat_lng[2]}}',
      infoWindow: { 
      content: '<div class = "MarkerPopUp" style="width: 400px;height:250px;"><div class = "MarkerContext">\
      <table><tr><td>{{=lat_lng[2]}}</td></tr></table>\
      </div></div>'
      }
      });
    {{pass}} 
  map.fitZoom();
  }); 
</script>  
<div style="border-bottom:4px solid rgb(51,102,153);">
    <div style="width:100%; height:300px;border-bottom:4px solid rgb(51,51,51);border-bottom:100px soild rgb(255,255,255)" id="map" ></div>   
</div>
<div id="search_bar" style="margin-left:5%">  
<br>  
<form action="#" enctype="multipart/form-data" method="post">	
<table>
<tbody>
	
	<tr>
	<td class="w2p_fw">
        <input class="string" id="member_search_member_location" autocomplete="on" onkeyup="getData(this.value);" name="member_location" value="{{=search_form_member_location}}" placeholder="address" type="text">
    {{if session.auth is None:}}
    {{else:}}
	<div id="ajaxresults"></div>
	{{pass}}
	</td>
    <td class="w2p_fc">
    <td class="w2p_fc">
    <a id="geolocate" class="geolocate btn"><i class="icon-map-marker"></i></a>
    </td>
	<td class="w2p_fc"></td>
	<td class="w2p_fc"></td>
	
        <td class="w2p_fw"><input class="integer" id="member_search_radius" name="radius" value ="{{=search_form_radius}}" type="text" style="width:100px;"  placeholder="radius"><select style="width:60px;">
  		<option value="volvo">mi.</option>
  		<option value="saab">km.</option>
		</select> </td>
	<td class="w2p_fc"></td>
	<td class="w2p_fc"></td>
	
	<td class="w2p_fw"><input class="string" id="member_search_details" name="details" value="{{=search_form_details}}" type="text" style="width:100px;" placeholder="any details?"></td>
	<td class="w2p_fc"></td>

	<td class="w2p_fl"></td>
        <td class="w2p_fw">
        <button type="submit" class="btn btn-success"><i class=" icon-search icon-white"></i></button>
        </td>
	<td class="w2p_fc"></td>
	</tr>
	
</tbody>
</table>
	
<div style="display: none;" class="hidden">
	<input name="_formname" value="test" type="hidden">
</div>

</form>	

</div>
<hr>


<div style="margin-left:5%;margin-right:5%">

    <a id="filter"><h4>Filter <i class="icon-filter"></i></h4></a><hr>
<div id="filter-content">

details
type
only show users with at least x stars
only show users with at least x reviews
only show places with at least x stars
only show places with at least x reviews

sorting options
view by user rating
place rating
distance

<hr>

</div>



{{for location in location_array:}}

<div id="search_item">
    <h1><a href="/location/{{=location[0]['url_title']}}">{{=location[0]['name']}}</a><a id="search_item_title-{{=location[0]['id']}}"><span class="caret"></span></a></h1><hr>
    <i class="icon-user"></i>(<a href="">5</a>)
    <h3>rating</h3>

    <div id="search_item_content-{{=location[0]['id']}}" style="margin-left:15px;" class="well">
        <div id="loaction_details">
            <p>tags</p>
            {{for tag in location[2]:}}
                <p><a href="/tag/{{=tag['tag']}}">{{=tag['tag']}}</a></p>
            {{pass}}

            <p>distance</p>
            <p>{{=location[0]['address']}}</p>
            <p>{{=location[0]['complete_address']}}</p>
            <p>{{=location[0]['phone_number']}}</p>

            <p>Coupons / promotions</p>
            <h3>Available delivery members</h3>
            <p>member</p>
            <p>member</p>
            <p>member</p>
            <p>member</p>

            {{for item in location[3]:}}
                <p><a>{{=item['title']}}</a></p>
            {{pass}}


            <hr><br>   
        </div> 
    </div>
</div>

<script>
    $("#search_item_title-{{=location[0]['id']}}").click(function () {
    $("#search_item_content-{{=location[0]['id']}}").slideToggle();});
</script>
{{pass}}


</div>

<script>

$("#filter-content").hide();
$("#filter").click(function () {
$("#filter-content").slideToggle();});
        
</script>

<br><br><br><br>
