{{extend 'layout.html'}}
<br>
<div style="margin-left:5%;margin-right:5%">
    <h1>terms</h1><hr>
    <p class="lead">by using deliveryfor, you agree to these terms.</p>
    <p class="lead">let's not try to cheat the rating system</p>
    <p class="lead">let's act like decient human biengs to one another</p>
    <p class="lead">dont try to scam a delivery memeber!</p>
    <p class="lead">dont try to scam as a delivery member!</p>
    <p class="lead">dont abuse the report system. comeon now.</p>
    <p class="lead">basically, we are not liable for introducing consenting sentient beings to one another.. we provide a service, that's it. we are not your mommy nor the police, just be nice. golden rule stuff ya know.</p> 
    <p class="lead">and for anyone who's intersted (lawyers maybe..?) <a>here's</a> the long, boring, standardized version that literally no one reads.. </p>
    
</div>
