{{extend 'layout.html'}}
<style type="text/css">
    #another-div{margin-left:3%;margin-right:3%;}
    #another-div-container{border-top:3px solid rgb(210,210,210);}
    #discover-div{margin-left:3%;margin-right:3%;}
    #discover-div-container{border-top:3px solid rgb(210,210,210);border-bottom:3px solid rgb(210,210,210);}
    #index-header{
    background-color:rgb(247,247,247);
    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:25px;
    padding-bottom:30px;
    }
    #index-header-container{
        margin-left:5%;
        margin-right:5%;
    }
    #share-footer{
    background-color:rgb(247,247,247);
    border-top:1px solid rgb(225, 225, 225);
    }
    #share-footer-container{margin-left:5%;margin-right:5%;}
</style>
<div id="index-header">
    <div id="index-header-container">
        <h1 style="text-align:center;">terms</h1>
    </div>
</div>
<br>
<div style="margin-left:5%;margin-right:5%">
    <p class="lead">by using deliveryfor, you agree to these terms.</p>
    <p class="lead">let's not try to cheat the rating system</p>
    <p class="lead">let's act like decient human biengs to one another</p>
    <p class="lead">dont try to scam a delivery memeber!</p>
    <p class="lead">dont try to scam as a delivery member!</p>
    <p class="lead">dont abuse the report system. comeon now.</p>
    <p class="lead">basically, we are not liable for introducing consenting sentient beings to one another.. we provide a service, that's it. we are not your mommy nor the police, just be nice. golden rule stuff ya know.</p> 
    <p class="lead">and for anyone who's intersted (lawyers maybe..?) <a>here's</a> the long, boring, standardized version that literally no one reads.. </p>
    
</div>
